 .bebida{
    color: aquamarine;
    background-color: darkseagreen;
    font-family: monospace;
    text-align: center;
    
}
.bene{
    color: aquamarine;
    background-color: darkseagreen;
    font-family: sans-serif;
    font-size: 20px;
}
ol{
    color: aquamarine;
    background-color: green;
    
}